check process sphinx 
    with pidfile "@BASE_DIR@/sphinx/searchd.pid"
    start program = "/etc/init.d/vidiun-sphinx start" with timeout 60 seconds
    stop program = "/etc/init.d/vidiun-sphinx stop"
    
    if failed host localhost port 9312 protocol mysql then restart
        
    group vidiun
    depends on sphinx.conf, searchdbin

check file sphinx.conf
    with path "@APP_DIR@/configurations/sphinx/vidiun.conf"
    # Reload Sphinx if the vidiun.conf file was changed
    if changed checksum
       then exec "/etc/init.d/vidiun-sphinx restart"

check file searchdbin
    with path "@BASE_DIR@/sphinx/bin/searchd"
