
@LOG_DIR@/cron.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root vidiun
}

@LOG_DIR@/vidiun_monit.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 sharedscripts
 postrotate
 service vidiun-monit restart
 endscript
 su root vidiun
}

@LOG_DIR@/vidiun_deploy.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root vidiun
}

@LOG_DIR@/vidiun_scripts.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root vidiun
}
