@LOG_DIR@/vidiun_admin.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root vidiun
}

@LOG_DIR@/vidiun_multi_publishers.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root vidiun
}

@LOG_DIR@/vidiun_hosted_pages.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root vidiun
}
