
@LOG_DIR@/sphinx/vidiun_sphinx_query.log{
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 sharedscripts
 postrotate
 service vidiun-sphinx restart
 endscript
 su root vidiun
}

@LOG_DIR@/sphinx/vidiun_sphinx_searchd.log{
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 sharedscripts
 postrotate
 service vidiun-sphinx restart
 endscript
 su root vidiun
}
