
@LOG_DIR@/vidiun_api_v3.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root vidiun
}

@LOG_DIR@/vidiun_api_v3_analytics.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root vidiun
}

@LOG_DIR@/vidiun_api_v3_tests.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root vidiun
}

@LOG_DIR@/vidiun_prod.log {
 rotate 5
 daily
 missingok
 compress
 dateext
 notifempty
 su root vidiun
}
