@LOG_DIR@/vidiun_batch.log {
    nodateext
    compress
    rotate 40
    create 644
    missingok
    notifempty
    prerotate
        service vidiun-batch stop 2>&1 >/dev/null || true
    endscript
    postrotate
        service vidiun-batch start 2>&1 >/dev/null || true
    endscript
 su root vidiun
}

@LOG_DIR@/batch/*log {
    nodateext
    compress
    notifempty
    rotate 40
    create 644
    missingok
 su root vidiun
}

